@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Liu Jian Mao Cao',
    cursive;

}


header h1 {
  font-size: 4em;
  text-align: center;
}

main {
  height: 50em;
  width: 50em;
  margin: 0px auto;
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid black;

  div {
    height: 2em;
    width: 2em;
    font-size: 7em;
    border: 1px solid black;
    padding-top: 0.3em;
  }
}

.red {
  color: red;
  text-align: center;
}

.blue {
  color: blue;
  text-align: center;
}